.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ----------------------------------------------- */
/* REUSABLE */
/* ----------------------------------------------- */

h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

/* ----------------------------------------------- */
/* IMAGES */
/* ----------------------------------------------- */

.portfolio-image-horizontal {
  background-size: cover;
  background-position: center;
  height: 100vh; /* means it's 100% of the view port. If we didn't include this, part of image would be cut off b/c it would only fill-in where there was text*/
  background-attachment: fixed;
}

.portfolio-image-vertical {
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

#bamboo {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/top-section-bg.jpg); */
  background-image: url(./images/bamboo-tumalog-falls.jpg);
}

#irish {
  background-image: url(./images/irish-hunger-memorial.jpg);
}

.separator {
  height: 200px;
  width: 100%;
}
